h1 {
  display: flex;
  justify-content: center;
}

#details div {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin-top: 30px;

}

section {
  padding: auto;
}
th, td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
  vertical-align: top;
}

th {
  background-color: #f2f2f2;
  vertical-align: top;
}
